<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="BeanfunLogin" Language="1033" Version="!(bind.FileVersion.BeanfunLogin.exe)" Manufacturer="xnum" UpgradeCode="3bd43aa7-e72c-449f-a70f-4caab9ca33d0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <PropertyRef Id="NETFRAMEWORK45"/>
    
    <Condition Message="This application is only supported on Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="BeanfunLogin" Level="1">
			<ComponentRef Id="BeanfunLogin.exe" />
      <ComponentRef Id="ApplicationShortcut" />   
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="BeanfunLogin" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BeanfunLogin"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
        <Component Id="BeanfunLogin.exe" Guid="*">
            <File Id="BeanfunLogin.exe" Source="$(var.BeanfunLogin.TargetPath)" KeyPath="yes" Checksum="yes"/>
        </Component>
    </DirectoryRef>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="BeanfunLogin" 
                      Description="BeanfunLogin"
                      Target="[#BeanfunLogin.exe]"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <Shortcut Id="UninstallProduct"             
                      Name="Uninstall BeanfunLogin"
                      Description="Uninstall BeanfunLogin"
                      Target="[System64Folder]msiexec.exe"
                      Arguments="/x [ProductCode]"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\BeanfunLogin" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </DirectoryRef>
     <DirectoryRef Id="DesktopFolder">
     <Component Id="ApplicationShortcutDesktop" Guid="5528fcaf-ab0c-4b5c-8db7-277e6b3d842f">
            <Shortcut Id="ApplicationDesktopShortcut"
                      Name="BeanfunLogin"
                      Description="BeanfunLogin"
                      Target="[#BeanfunLogin.exe]"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
     <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />  
     <RegistryValue Root="HKCU" Key="Software\BeanfunLogin" Name="installed" Type="integer" Value="1" KeyPath="yes" />
     </Component>
   </DirectoryRef>
    </Fragment>
</Wix>
